/* Josh Channin 
*/
@import
	url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto:300,400')
	;

body {
	background-color: rgb(255, 204, 102);
}

.container {
	width: 100%;
	padding: 40px 0px 40px 0px;
}

.wallet {
	margin: 0 auto;
	border-radius: 5px;
	background-color: #FFFFFF;
	box-shadow: 0px 8px 20px 6px;
	height: 680px;
	/* max-width: 900px; */
	min-width: 800px;
	display: flex;
}

.left-wallet {
	background-color: #f2f2f2;
	width: 40%;
	height: 100%;
	padding: 40px;
	border-radius: 5px;
}

.right-trans {
	background-color: #FFFFFF;
	width: 60%;
	height: 100%;
	padding: 40px;
	border-radius: 5px;
}

h1 {
	color: #7d818e;
	margin: 0;
	font-weight: 400;
	font-size: 25px;
}

h4 {
	margin: 0;
	font-size: 30px;
	font-weight: bold;
}

.left-wallet h1, .left-wallet modal-open, .right-trans h1, .right-trans #balance
	{
	display: inline-block;
}

#balance {
	float: left;
	color: #464646;
}

.modal-open {
	display: inline-block;
	float: right;
	padding: 0;
	font-size: 42px;
	line-height: 36px;
	color: #b7b7b7;
	cursor: pointer;
}

.modal-open:hover {
	display: inline-block;
	float: right;
	padding: 0;
	font-size: 42px;
	line-height: 36px;
	color: #868686;
	cursor: pointer;
}

.trans-list {
	border-top: 1px solid #f2f2f2;
	overflow-y: scroll;
	max-height: 85%;
}

.trans-each {
	border-bottom: 1px solid #f2f2f2;
}

.trans {
	margin-top: 15px;
}

.trans-footer {
	width: 100%;
	padding-top: 20px;
}

.trans-footer button {
	margin-right: 10px;
}

.btn-div {
	float: right;
	position: absolute;
	right: 5%;
	bottom: 4%;
}

.trans-plus {
	background-image:
		url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/384009/plus-icon.png);
	background-repeat: no-repeat;
	width: 40px;
	height: 50px;
	display: block;
	float: left;
	position: relative;
	top: 15px;
}

.trans-minus {
	background-image:
		url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/384009/minus-icon.png);
	background-repeat: no-repeat;
	width: 40px;
	height: 50px;
	display: block;
	float: left;
	position: relative;
	top: 15px;
}

.trans-details {
	margin-top: 20px;
	display: inline-block;
	width: 80%;
}

.trans-title, .trans-planDate, .trans-descipt, .trans-cat {
	margin: 3px;
}

.trans-title {
	display: inline-block;
}

.trans-planDate, .trans-descript, .trans-cat {
	color: #888;
	margin-left: 5%;
}

.trans-price {
	float: right;
	line-height: 55px;
	font-size: 18px;
	margin-top: 10px
}

.amt-green {
	color: rgb(113, 207, 66);
}

.amt-blue {
	color: rgb(166, 178, 216);
}

.cc-select {
	margin-top: 34px;
	overflow-y: scroll;
	max-height: 85%;
	padding: 5px;
}

.cc {
	cursor: pointer;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 30px;
	border: 1px solid #e1e1e1;
	transition: .1s ease-in-out;
}

.cc:hover {
	transform: scale(1.03);
	border: 1px solid gray;
}

.cc-active:hover {
	transform: scale(1);
	border: 4px solid rgb(132, 148, 202);
}

.cc-active {
	border: 4px solid rgb(132, 148, 202);
}

.cc-img {
	width: 60px;
	height: 180px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 4px;
	margin-bottom: 15px
}

.cc-img-main {
	width: 60px;
	height: 180px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 4px;
	margin-bottom: 15px
}

.cc-num {
	padding-top: 60%;
	font-size: 15px;
}

.cc-date {
	margin-top: 8px;
	color: #888;
}

.visa .cc-img, .visa .cc-img-main {
	background-image: url("http://i.imgur.com/xYX6Tsy.png")
}

.amex .cc-img, .amex .cc-img-main {
	background-image: url("http://i.imgur.com/47221vA.png")
}

.mc .cc-img, .mc .cc-img-main {
	background-image: url("http://i.imgur.com/2fWTLRZ.png")
}

.modal, .add-budget-modal {
	text-align: center;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1;
}

.modal-body {
	z-index: 2;
	background-color: #fff;
	border-radius: 5px;
	padding: 40px;
	padding-top: 10px;
	padding-bottom: 50px;
	display: inline-block;
	margin-top: 100px;
	width: 100%;
	max-width: 400px;
	position: relative;
}

.modal-close, .add-modal-close {
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
	font-weight: bold;
	color: #888;
}

.modal-close:hover {
	transform: scale(1.2);
	cursor: pointer;
}

.md-cc .cc-img {
	cursor: pointer;
}

.md-cc .cc-img:hover {
	cursor: pointer;
	transform: scale(1.25);
	transition: .1s ease-in-out;
}

.cc-md-active {
	transform: scale(1.25);
}

.cc-md-small {
	transform: scale(.80);
}

.modal-cards {
	width: 15%;
	display: inline-block;
	float: left;
}

.modal-add-cc, #income, #expend, #add-income, #add-expend {
	bottom: 15px;
	left: 190px;
	color: #fff;
	background-color: #0275d8;
	border-color: #0275d8;
	font-weight: 400;
	text-align: center;
	padding: .25rem 2rem;
	font-size: 1rem;
	border-radius: .25rem;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

::-webkit-scrollbar {
	display: none;
}

form {
	width: 75%;
	float: right;
}

form>input, form select {
	display: block;
	width: initial;
	border: 1px solid #e1e1e1;
	padding: 5px;
	margin: 5px
}

.modal-body>h3, .modal-body>h5 {
	color: #777;
}

textarea:focus, input:focus {
	outline: none;
}

.modal-body>h5 {
	border-top: 1px solid #e1e1e1;
	padding-top: 20px;
}

.no-trans {
	color: #888;
	text-align: center;
}

.valid-green {
	border: 2px solid green;
}

.valid-red {
	border: 2px solid darkred;
}